@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 79 69% 99%;
    --foreground: 79 54% 0%;
    --muted: 199 36% 86%;
    --muted-foreground: 199 2% 25%;
    --popover: 79 69% 99%;
    --popover-foreground: 79 54% 0%;
    --card: 79 69% 99%;
    --card-foreground: 79 54% 0%;
    --border: 79 4% 94%;
    --input: 79 4% 94%;
    --primary: 79 35% 88%;
    --primary-foreground: 79 35% 8%;
    --secondary: 199 35% 88%;
    --secondary-foreground: 199 35% 28%;
    --accent: 319 35% 88%;
    --accent-foreground: 319 35% 28%;
    --destructive: 12 81% 37%;
    --destructive-foreground: 12 81% 97%;
    --ring: 79 35% 88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 79 45% 2%;
    --foreground: 79 39% 97%;
    --muted: 199 36% 14%;
    --muted-foreground: 199 2% 75%;
    --popover: 79 45% 2%;
    --popover-foreground: 79 39% 97%;
    --card: 79 45% 2%;
    --card-foreground: 79 39% 97%;
    --border: 79 4% 12%;
    --input: 79 4% 12%;
    --primary: 79 35% 88%;
    --primary-foreground: 79 35% 8%;
    --secondary: 199 35% 88%;
    --secondary-foreground: 199 35% 28%;
    --accent: 319 35% 88%;
    --accent-foreground: 319 35% 28%;
    --destructive: 12 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 79 35% 88%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
